.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.loginpagina{
    background-color:#222222;
}

